<div class="top">
  <div class="top_title">
    <h2>Enginnergram</h2>
    <div class="btn">
      <%= link_to "ログイン", "	/users/sign_in" %>
    </div>
    <div class="btn">
      <%= link_to "サインアップ", "	/users/sign_up" %>
    </div>
  </div>
</div>